{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load bootstrap %}
<div class="offset-1 col-10 list-div ">
  <div class="container-fuid">
    <style> body {background-color: #808080;}</style>
    <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data>
        <form <font color="#FF0000"> </font>
    {% csrf_token %}
    {{ form|bootstrap }}
    </div>
    <table>
    </table>
    <button type="submit" class="btn btn-success">CADASTRAR</button>
  </form>
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

  </div>
{% endblock %}