{% extends "base2.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{%static 'css/estilo.css'%}" />
<link rel="stylesheet" href="{%static 'css/style.css'%}" />
<style> body {background-color: #808080;}</style>
  <body>
    <div class="profile box">
      {% for profissional in object_list %}
      {% if profissional.imagem == '' %}
      <img class="profile-pic" src="{% static 'img/foto.png' %}" alt="{{profissional.nome}}" />
      {% else %}
      <img class="profile-pic" src="{{ profissional.imagem.url}}" alt="" />
      {% endif %}
      <h1 class="title">{{profissional.nome}} {{profissional.sobrenome}}</h1>
      <span>{{profissional.cidade}}, {{profissional.estado}}</span>
      <p>Profissão: {{profissional.atividades}} | E-mail : {{profissional.email}}</p>
      <ul class="redes-sociais">
        <li>
          <a href="#"><img src="{%static 'img/whatsapp.svg' %}" alt="WhatsApp" /></a>
        </li>
          <li>
             <a> {{profissional.telefone}}</a>
          </li>
      </ul>
    </div>
    <div class="profile box">

    {%endfor%}
{% endblock content %}

