{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Projeto Integrador 2</title>
<body>
<!-------Profissionais--->
<style> body {background-color: #808080;}</style>

<br>
<h2 class="pb-2 text-center ">Qual serviço especializado você procura?</h2>
  <h6 class="pb-2 text-center ">Ache o profissional que você precisa aqui</h6>

<section class="container">
  <div class="container">
      <nav class="navbar navbar-light" style="background-color: #808080; ">
        <div class="container-fluid ">
          <form class="d-flex" name="searchform" method="get" action=""  >
            <input class="form-control me-2" type="text" name="buscar"
            placeholder="ainda em construção" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Buscar</button>
          </form>
        </div>
      </nav>
  </div>
</section>

<!-----------explicação cadastro----------->
<div class="container px-5 py-6" id="custom-cards">
  <h2 class="pb-2 text-center ">2 Passos para divulgar o seu serviço</h2>

<section class="container">
    <div class="row">

    <div class="card-group">
  <div class="card">
      <br>
  <img src="{%static 'img/conta.png'%}" height="100" width="100" style="display: block; margin: 0 auto;"   />
    <div class="card-body">
      <h5 class="card-title">1º Passo: Crie sua conta</h5>
      <p class="card-text">Em segundos você cria sua conta.</p>
    </div>
  </div>
    <!-------------->
  <div class="card">
      <br>
  <img src="{%static 'img/cadastro.png'%}" height="100" width="100" style="display: block; margin: 0 auto;"  />
    <div class="card-body">
      <h5 class="card-title">2º Passo: cadastre o seu serviço</h5>
      <p class="card-text">Mantenha sempre atualizada sua conta para que seus clientes possam te encontrar.</p>
      <!-------------->


    </div>
  </div>
</div>
    </div>

</section>

 <!---------------anuncie aqui --------------->


 <div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">Anuncie aqui!</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
    style="background-image: url({%static 'img/anuncie-1.jpg'%}) ;" >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Junte-se a nossa iniciativa</h2>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
      style="background-image: url({%static 'img/anuncie-1.jpg'%}) ">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Se você viu isso, seus clientes também vão ver! Anuncie </h2>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
      style="background-image: url({%static 'img/anuncie-1.jpg'%})">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Sem manter visibilidade sua empresa não vende</h2>
        </div>
      </div>
    </div>

  </div>

<!-------sobre o site--------->
<div class="container px-6 py-7" id="custom-cards">
  <h2 class="pb-2 ">SOBRE O PI2</h2>
  <h6 class="pb-2 border-bottom">somos alunos da area de TI da Univesp , que pensando em como utilizar nosso conhecimento para
  melhorar a comunidade onde vivemos , aproveitamos o tema do projeto integrado para a criação desta plataforma, visando a divulgar gratuitamente
  serviços , pois sabemos que esse momento atual de pandemia ceifou a renda e emprego de milhoes de pessoas</h6>
  <br>
</div>

<div class="container marketing">

<div class="row">
      <div class="col-lg-4">

    </div>
</div>
</body>

{% endblock content %}

