{% extends "base2.html" %}
{% block content %}
{% load bootstrap4 %}

<link rel="stylesheet" href="css/style.css" />

  </head>
  <body>
    <div class="profile box">
      {% for profissional in object_list %}
      <img class="profile-pic" src="{{profissional.imagem}}" alt="Profile" />
      <h1 class="title">{{profissional.nome}}, {{profissional.sobrenome}}</h1>
      <span>{{profissional.cidade}}, {{profissional.estado}}</span>
      <p>{{profissional.email}} | {{profissional.atividade}}</p>
      <ul class="redes-sociais">
        <li>
          <a href="#"><img src="img/facebook.svg" alt="Facebook" /></a>
        </li>
        <li>
          <a href="#"><img src="img/instagram.svg" alt="Instagram" /></a>
        </li>
        <li>
          <a href="#"><img src="img/whatsapp.svg" alt="WhatsApp" /></a>
        </li>
        <li>
          <a href="#"><img src="img/linkedin.svg" alt="LinkedIn" /></a>
        </li>
      </ul>
      {%endfor%}
    </div>
  {% endblock %}